<form ng-submit="atualizar()">
    <label >Nome:</label><br/>
    <input type="text" class="form-control" placeholder="Nome" ng-model="socio.nome" />
    <label >Sobrenome:</label><br/>
    <input type="text" class="form-control" placeholder="Sobrenome" ng-model="socio.sobrenome" />
    <label >Número da matrícula:</label><br/>
    <input type="text" class="form-control" placeholder="número de matricula" ng-model="socio.numero_matricula" /><br/>
    <button class="btn btn-primary btn-lg btn-block">Salvar</button>

</form>
